@import '../../index.scss';

@function resize($pxsize) {
    @return $pxsize - 15;
}

.navbar {
    background: $mainPurple;
    padding: 1.5rem 0.5rem;
    a.navbar-brand {
        width: 100px;
    }
    .container {
        margin: 0;
        padding: 0;
        width: 100%;
    }
}


li.nav-item {
    width: 200px;
}


a.nav-link{
    align-self: center;
    list-style-type: none; 
    font-size: 16px; 
    color: $mainWhite !important;
    
}

.navbar-toggler {
    width: 65px;
    height: 45px;
    .navbar-toggler-icon{
        width: 55;
    }
}


