.navbar {
    background: rgb(65, 70, 139);
}
a.nav-link{
    align-self: center;
    list-style-type: none; 
    font-size: 25px; 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}
li.nav-item{
    width: 200px;
    text-align: center;   
}